<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxf7I0u_mouiAu7Qby_iFeLPwcz5Hnf_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>261928472696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>e.Discount</string>
	<key>PROJECT_ID</key>
	<string>discountus-29334</string>
	<key>STORAGE_BUCKET</key>
	<string>discountus-29334.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261928472696:ios:7b12f79dd9f7258e671d8d</string>
</dict>
</plist>